@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
/*********** base style ***************/
*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 100ms ease; */
  /* color: white; */
}
:root{
  --orange-color: #ff7551;
  --blue-color: #32a7e2;
  --meuve-color: #6c5ecf;
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
  --delay: 0s;
  --lists-font-size: 1.5rem;
  --icon-font-size: 1.2rem;
}

img{
  width: 100%;
}

ul{
  list-style: none;
}
/* ******* for root size (rem) ******* */
html{
  font-size: 10px;
  scroll-behavior: smooth;
}


body {
  font-family: var(--body-font);
  color: var(--body-color);
  background-image: url("https://images.unsplash.com/photo-1445251836269-d158eaa028a6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1951&q=80");
  background-image: url(https://images.unsplash.com/photo-1520045892732-304bc3ac5d8e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  background-color: rgba(18, 21, 39, 0.86);
  padding: 1em 2em;
  width: 100%;
  height: 100vh;
  overflow: hidden;
 }

main{
  display: grid;
  grid-template-columns: minmax(max-content, 150px) 10px 1fr;
  grid-template-areas: 'sidebar . containt' ;
  padding: 1.5rem;
  background-color: var(--theme-bg);
  max-width: 1200px;
  height: 100%;
  margin: auto;
  border-radius: 20px;
  /* overflow-y: auto; */
  /* flex: 1; */
}

/* ***************** sidbar ***************** */
.sidebar{
  grid-area: sidebar;
  /* background-color: red; */
  padding: 0 1rem;
  height: 100% !important;
  overflow-y: auto;
}
.sidebar h1{
  color: white;
}
.sidebar h2{
  width: max-content;
}
.sidebar_navbar_lists{
  padding: 2rem 0;
}
.sidebar_navbar_lists h2{
  color: var(--body-color);
}
/* .sidebar_navbar_lists ul {

} */

.fa-solid{
  font-size: var(--icon-font-size);
  color: var(--body-color);
}

/* i{
  background-color: red !important;
  padding: 1rem;
  color: white !important;
} */

.sidebar_navbar_list{
  margin-top: 1.5rem;
  font-size: var(--lists-font-size);
  color: var(--body-color);
  font-weight: 600;
}
.sidebar_navbar_list {
  width: 100%;
  text-decoration: none;
  color: var(--body-color);
  display: flex;
  align-items: center;
}
.sidebar_navbar_list > a{
  width: 100%;
  text-decoration: none;
  color: var(--body-color);
  display: flex;
  align-items: center;
}
.sidebar_icon{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: var(--button-bg);
  border-radius: 13px;
  transition: all 100ms ease;
}
.sidebar_navbar_list--text{
  /* transition: all 500ms ease-in; */
  margin-left: 1rem;
}
.sidebar_navbar_list:hover .sidebar_navbar_list--text{
  /* margin-left: 2rem; */
  color: white;
}
.sidebar_navbar_list:hover{
  margin-left: 0.2rem;
}
.sidebar_navbar_list:hover .active{
  background-color: var(--orange-color);
}

.sidebar_navbar_list:hover .sidebar_icon:not(.active){
  background-color: var(--meuve-color);
}

/* .sidebar_navbar_list:hover .sidebar_icon:not(.active){
  background-color: var(--meuve-color);
} */

.sidebar_navbar_list:hover .fa-solid{
  color: white;
}
.sidebar_navbar_divider{
  width: 100%;
  height: 1px;
  background-color: var(--button-bg);
}

/* **************************** containt *************************** */
.containt{
  grid-area: containt;
    padding: 0 1rem;
    /* position: relative; */
    overflow-y: hidden;
    height: 100% !important;
    display: flex;
    flex-direction: column; 
    /* background-color: red; */
    
}

/* *********** ++++++++++++ header +++++++++++++++ ************* */
.header{
  display: flex;
  justify-content: space-between;
  position: sticky;
}
.header_search-form{
  flex: 1;
}
.header_search-form input{
  background-color: var(--button-bg);
  border: none;
  padding: 1rem;
  border-radius: 10px;
  width: 95%;
  outline: none;
  font-weight: 600;
  color: white;
}
.header_search-form input::placeholder{
  font-size: 1.5rem;
}

.header_user{
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
}

.header_user_image{
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.header_user_image > div{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.header_user_image img{
  border-radius: 50px;
}
.header_user_image p{
  margin-left: 1rem;
  font-size: 1.4rem;
  color: white;
}
.notif_icon{
  margin-left: 0.8rem;
}
.fa-solid.fa-bell{
  color: var(--body-color);
}

/* ****** ---------------------- containt_section --------------------- ******** */
.containt_section{
  overflow: auto;
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  position: relative;
}

.inside_scroll{
  /* position: relative; */
  padding: 1rem 0;
}

/* ***************************** discover ************************** */
.discover_container_show{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.discover_title{
  top: 0px;
  position: sticky;
  z-index: 9999;
  background-color: var(--theme-bg);
  box-shadow: 0px 5px 15px var(--theme-bg);
  width: 100%;
  padding: 2rem 0;
  color: white;
  font-size: 3rem;
}
.discover_jump_left{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.3) 100%) ,
              url('../images/josh-hild-igLQW_yY9oo-unsplash.jpg');
              flex: 2;
              min-width: 350px;
            }
.discover_jump_left h2, .discover_jump_right h2{
  font-size: 2.8rem;
  max-width: 300px;
  line-height: 40px;
}
.discover_jump_right{
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.2) 100%) 
  ,url('../images/taylor-smith-nSJe3uLt_G4-unsplash.jpg');
  flex: 1;
}
.discover_jump_left, .discover_jump_right{
  color: white;
  padding: 3rem;
  position: relative;
  height: 300px;
  width: 100%;
  /* background-color: var(--button-bg); */
  background-position: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

/* ********************************* avatar ******************************* */
.profil_card{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2.5rem;
}
.avatar_container{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 0.4rem;
  border: 1px solid white;
  transition: all 0.2s ease-in;
}
.avatar_container img{
  width: 100%;
  /*height: 50px; */
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}
.avatar_container span{
  position: absolute;
  bottom: 5px;
  right: 0;
  padding: 0.2rem;
  border-radius: 50px;
  background-color: var(--theme-bg);
}
.avatar_container i{
  color: white;
}
.profil_name{
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.profil_detail{
  position: relative;
  font-size: 1.2rem;
}
.profil_year{
  display: inline-block;
  margin-left: 0.8rem;
}
.dot{
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  top: 5px;
}
.discover-time{
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.3rem;
}

/* ********************* most watched ********************* */
.most_watched{
  margin-top: 1rem;
}
.most_watched h3{
  color: white;
  padding: 1.5rem 0;
  font-size: 2.5rem;
}
.most_watched_cards{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.most_watched_card{
  flex: 1;
  min-width: 185px;
  min-height: 150px;
  background-color: var(--button-bg);
  border-radius: 15px;
}
.most_watched_card{
  position: relative;
  height: 300px;
  padding-bottom: 1rem;
}
.video_play{
  width: 100%;
  height: 120px;
  position: relative;
  background-color: rgb(115, 116, 117);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.5s ease;
  z-index: 999;
}
.video_play .video {
  /* position: absolute; */
  /* height: 200; */
  width: 100%;
  height: 100%;
  /* padding-bottom:56.25%; */
}
.video video {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.most_watched_card_body{
  padding: 1rem 2rem;
  position: absolute;
  bottom: 55px;
}
.most_watched_card_body h3{
  font-size: 1.5rem;
  color: #717790;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}
.most_watched_card_body .desc{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  /* color: #717790; */
}
.most_watched_card--time{
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.3rem;
}
.most_watched_detail_dot{
  background-color: #717790;
}
.h3_dot{
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #47cf73;
  border-radius: 50px;
  margin-top: -35px;
  margin-left: 0.5rem;
  /* position: absolute;
  top: 5px; */
}
.orange--dot{
  background-color: var(--orange-color);
}
.most_watched_avatar{
  position: absolute;
  right: 10px;
  bottom: -20px;
}
.most_watched_avatar i{
  /* background-color: #56bcf9;c */
  /* color: #56bcf9; */
}
video, iframe{
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/1;
}

/* ************* media queries *************** */
@media screen and (max-width: 600px) {
  .skateboard{
    display: none;
  }
  .sidebar_navbar_list--text{
   display: none;
  }
}